services:
  crowdsec:
    container_name: crowdsec
    image: crowdsecurity/crowdsec:latest-debian
    command: -t # Add test config flag to verify configuration
    restart: unless-stopped
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      PARSERS: crowdsecurity/whitelists
    volumes:
      - ./etc:/etc/crowdsec
      - ./data:/var/lib/crowdsec/data
      - /var/log/journal:/run/log/journal:ro
    healthcheck:
      test:
        - CMD
        - cscli
        - lapi
        - status
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 10s
  cs-fw-bouncer:
    container_name: csfwb
    image: ghcr.io/asardaes/crowdsec-firewall-bouncer-container:main
    restart: unless-stopped
    command:
      - -c
      - /etc/crowdsec/bouncers/crowdsec-firewall-bouncer.yaml
    volumes:
      - ./etc/bouncers:/etc/crowdsec/bouncers:ro
    depends_on:
      crowdsec:
        condition: service_healthy
    cap_add:
      - NET_ADMIN
    userns_mode: host
    network_mode: host
